@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;800&display=swap');

html {
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    min-height: 100%;
    min-width: 100%;
}

input {
    height: 40px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    height: 45px;
    width: 80px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace;
    background-color: #68cab3;
}

#left-div {
    margin-top: -8px;
    margin-left: -8px;
    min-width: 50%;
    height: 150vh;
    background-image: url('./img/background.jpg');
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
}

#left-title-div {
    margin-top: -30px;
    height: 150vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#right-div {
    font-size: large;
    margin-left: 7%;
    margin-top: 15%;
    flex: 1;
}

#input-username, #input-password {
    margin-top: 20px;
}

.small-image {
    width: 30px;
    height: 30px;
    max-width: 100%;
    max-height: 100%;
}


/*
    %: 퍼센트
    px: 픽셀
    vh: View Height
    vw: View Width
*/